.text_tooling{
    grid-row: 3/10;
    grid-column: 5/19;
    border: 1px solid #302f36;
    padding: 1.5em;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    @media (max-width: $breakpoint-laptop) {
        grid-row: 2/12;
        grid-column: 2/22;
    }


    .event-message{

        position: absolute;
        left:-0.1em;
        opacity:0;
        z-index: 4;
        @media (max-width: $breakpoint-mobile) {
            left: 50%;
            transform:translateX(-50%) translateY(-3px);
            width: max-content;

        }
    }
    .controllers_group_container{
        display: flex;
        justify-content: space-between;
        @media (max-width: $breakpoint-mobile) {
            flex-direction: column;
            align-items: flex-start;
                &:first-child{
                    flex-direction:column;
                    >div{
                        margin: 0.5em 0;
                    }  
                    width: 100%;
                }
                &:nth-child(3){
                   flex-direction: row;
                   overflow-x: auto;
                   overflow-y: hidden;
                   align-items: center;
                   padding-top:1.5em;
                   width:calc(100% + 1.5em);
                   >.controllers_group {
                       width: initial !important;
                    &_input{
                        padding-right: 1.5em
                    }
                    };
                }
        }
    }
    .buttons{
        @media (max-width: $breakpoint-mobile){
            width: 100%;
        }
        display: flex;
        .button-copy{
            border-color: #1e1ece;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: $breakpoint-mobile) {
                width: 100%;
            }
            svg{
                height: 0.9em;
                margin-right: 0.6em;
                margin-left: 0.2em;
            }
        }
        .button-keyboard{
            margin-left:0.5em;
            @media (max-width: $breakpoint-mobile) {
                display: none;
            }
        }
    }

    .scanner_container{
        flex-grow:1;
        @media (max-width: $breakpoint-mobile) {
         font-size:0.5em;
        }
    } 

}