.text_tooling{
    grid-row: 3/10;
    grid-column: 5/19;
    border: 1px solid black;
    padding: 1.5em;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .controllers_group_container{
        display: flex;
        justify-content: space-between;
    }
    .scanner_container{
        flex-grow:1;
    } 

}