[name='scanner']{
    resize:none;
    min-height: 100%;
    width: 100%;
    border: none !important;
    outline: none !important;
    font-size: 4em;
    padding-top:1.5em;
    transition: all 0.3s ease-out
}