[name='scanner']{
    resize:none;
    min-height: 100%;
    width: 100%;
    border: none !important;
    outline: none !important;
    font-size: 3em;
    padding-top:1.5em;
    transition: all 0.3s ease-out;
    &::placeholder{
        opacity: 0.4;
    }
}