*{
    margin:0;
    padding: 0;
    box-sizing: border-box
}
body{
  font-family: Georgia, Times New Roman;
}
button{
  background: transparent;
  border: 1px dashed #1e1ece;
  outline: none !important;
  cursor: pointer;
  padding: 0.5em;
  font-size: 1em;
  background: none;
  color: #302f36;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

$breakpoint-laptop: 1400px;
$breakpoint-mobile: 995px;

/* width */
::-webkit-scrollbar {
    width: 15px;
    @media (max-width: $breakpoint-mobile) {
      width: 10px;
      height:9px;
    }
}

  
  /* Track */
  ::-webkit-scrollbar-track {
    width: 15px;
    background: #f3f3f3;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff;
    border: 1px solid #787681;


  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    border: 1px solid black;

  }

  ::selection {
    background: #1e1ece; /* WebKit/Blink Browsers */
    color: white
  }
  ::-moz-selection {
    background: #1e1ece; /* Gecko Browsers */
    color: white;
  }


@media (prefers-color-scheme: dark) {
    .layout {
      filter: invert(0.97) sepia(0.8);
    }
}
.dark{
  filter: invert(0.97) sepia(0.8);

}
.light{
  filter: none !important;
}

@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('../fonts/SegoeUI.ttf') format('ttf');
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swapp');




@import "./colors.module.scss";

@import "./controllers_group";
@import "./layout";
@import "./scanner";
@import "./slider";

@import "./404";
@import "./index";
@import "./about";

